<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boston AirBnb Project 3</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="static/css/style.css" rel="stylesheet">
    
</head>

<body>
    <!-- Navigation -->
    
    <nav class="navbar-expand-md navbar-light bg-light stick-top ">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://127.0.0.1:5000/">Boston Airbnb</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./map.html"> Map </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./comparisons.html">Comparison</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./data.html">Data</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">Comparisons</h1>
            </div>
            <hr>
            <div class="col-12">
                <p class="lead">gherwht</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="well">
                <h5>Zipcode:</h5>
                <select id="selDataset" onchange="optionChanged(this.value)"></select>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">General Info.</h3>
                </div>
                <div id="sample-metadata" class="panel-body"></div>
            </div>
        </div>
        <div class="col-md-5">
            <div id="bar"></div>
        </div>
        <div class="col-md-5">
            <div id="gauge"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="scatter"></div>
        </div>
    </div>
    
    
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <script type="text/javascript" src="static/comparisons.js"></script> -->
    <script>
        
        populateMenu();
        
        //event handler to track when a new id is selected
        d3.selectAll("#selDataset").on("click", optionChanged);
        
        //function to populate the dropdown
        function populateMenu() {
            
            d3.json("http://127.0.0.1:5000/listing").then(function(data) {
                
                //sanity check
                //console.log(data);
                
                //arrays to save the zipcodes
                var zipcodes = [];
                
                // Grab values from the data json object to build the plots
                for (var i = 0; i < data.length; i++) {
                    zipcodes.push(data[i].zipcode);
                }
                
                //sanity check
                //console.log(zipcodes);
                
                var uniqueZips = zipcodes.filter((z, index) => {
                    return zipcodes.indexOf(z) === index;
                });
                
                //sort the zipcodes
                uniqueZips.sort((a,b)=>a-b);
                
                //sanity check
                //console.log(uniqueZips);
                var sel = document.getElementById('selDataset');
                var fragment = document.createDocumentFragment();
                
                uniqueZips.forEach(function(Zip, index) {
                    var opt = document.createElement('option');
                    opt.innerHTML = Zip;
                    opt.value = Zip;
                    fragment.appendChild(opt);
                });
                
                sel.appendChild(fragment);
            });
        }
        //function to collect the selected id 
        function optionChanged () {
            var selected = d3.select("#selDataset");
            var zip = selected.property("value");
            
            //sanity check
            //console.log(id);
            
            //call on the function to create the plots
            barPlot(zip);
            scatterPlot(zip);
        }
        
        //function to create the plot
        function barPlot(zip) {
            
            //grab  the info needed
            d3.json("http://127.0.0.1:5000/listing").then(function(data) {
                
                //array to save the selected id's data
                var names = [];
                var ratings = [];
                var type = [];
                var neighbourhood = [];
                var bedrooms = [];
                var beds = [];
                var prices = [];
                
                //loop to search for the info on the selected id
                for (i = 0; i < data.length; i++) {
                    
                    //conditional to pull the info it matches the selected id
                    if (zip == data[i].zipcode) {
                        
                        //save listings info
                        names.push(data[i].name);
                        ratings.push(data[i].review_scores_rating);
                        type.push(data[i].property_type);
                        neighbourhood.push(data[i].neighbourhood);
                        bedrooms.push(data[i].bedrooms);
                        beds.push(data[i].beds);
                        prices.push(data[i].price_y)
                    }
                }
                
                //sanity check
                //console.log(names);
                //console.log(ratings);
                
                //create the data array for the plot
                var trace1 = {
                    x: ratings,
                    type: "bar",
                    orientation: 'h',
                };
                
                var tickvals = names.map(function(e, i) {
                    return i;
                });
                
                //create the array for the data
                var data = [trace1];
                
                //create the layout array for the plot
                var layout = {
                    yaxis:{
                        ticktext: names,
                        tickvals: tickvals
                    },
                    height: 800,
                    width: 800,
                };
                
                Plotly.newPlot("bar", data, layout, [{
                    transforms: [{
                        type: 'sort',
                        target: 'y',
                        order: 'descending'
                    }]
                }])
            });
        }
        //function for creating the bubble chart
        function scatterPlot (zip) {
            
            //grab  the info needed
            d3.json("samples.json").then(function(data) {
                
                //array to save the selected id's data
                var names = [];
                var ratings = [];
                var prices = [];
                
                //loop to search for the info on the selected id
                for (i = 0; i < data.length; i++) {
                    
                    //conditional to pull the info it matches the selected id
                    if (zip == data[i].zipcode) {
                        
                        //save listings info
                        names.push(data[i].name);
                        ratings.push(data[i].review_scores_rating);
                        prices.push(data[i].price_y)
                    }
                }
                
                //var to hold the data info to be plotted
                var trace1 = {
                    x: otuIds,
                    y: sampleValues,
                    mode: 'markers',
                    text: otuLabels,
                    marker: {
                        size: sampleValues,
                        color: otuIds
                    }
                };
                
                var data = [trace1];
                
                //var to hold the layout info of the graph
                var layout = {
                    xaxis: {
                        title: {
                            text: "OTU ID's"
                        }
                    },
                    showlegend: false,
                    height: 600,
                    width: 1000
                };
                
                //create the new plot
                Plotly.newPlot('scatter', data, layout);
            });
        }
        
    </script>
</body>